---
  const { post } = Astro.props;

---

<div class="max-w-md rounded-xl bg-white shadow-md overflow-hidden sm:max-w-full">
  <div class="sm:flex">
    <div class="sm:shrink-0">
      <img class="h-48 w-full object-cover sm:h-full sm:w-48" src={post.image.url} alt={post.image.alt}>
    </div>
    <div class="p-8">
      <div class="block mt-1 text-lg leading-tight font-medium text-black">{post.title}</div>
	    <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">{post.author}</div>
	    <p class="mt-2 text-slate-500">{post.description}</p>
    </div>
  </div>
</div>